
{% load static %}
<link rel="stylesheet" href="{% static 'styles/Coments.css' %}">
<link
href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
rel="stylesheet" />
<link
href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet" />

<style>
    .card-header, .card-body {
        cursor: pointer;
    }
</style>
<script>
    function eliminarComentario(comentarioId) {
        if (confirm('¿Estás seguro de que deseas eliminar este comentario?')) {
            window.location.href = '{% url "eliminar_comentario" 0 %}'.replace('0', comentarioId);
        }
    }

    function eliminarUsuario(usuarioId) {
        if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
            window.location.href = '{% url "eliminar_usuario" 0 %}'.replace('0', usuarioId);
        }
    }
</script>
</head>
<body>
<div class="container mt-5 comments">
    <h1>{{ tematica.Tema }}</h1>
    <p>{{ tematica.Descripcion }}</p>

    <h2 class="mt-5">Comentarios</h2>

    <!-- Mostrar mensajes --> 
    {% if messages %} 
    {% for message in messages %} 
    <div class="alert alert-danger" role="alert"> 
        {{ message }} 
    </div> 
    {% endfor %} 
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="contenido" class="form-label">Escribe tu comentario:</label>
            <textarea class="form-control" id="contenido" name="contenido" required></textarea>
        </div>
        <button type="submit" class="btn btn-custom">Agregar Comentario</button>
    </form>

    <hr />
    <div class="mb-4">
        {% for comentario in comentarios %}
            <div class="card mb-3">
                <div class="card-header" onclick="eliminarUsuario({{ comentario.usuario.id }})">
                    <strong>{{ comentario.usuario.correo }}</strong>
                    <small class="text-muted">({{ comentario.fecha|date:"Y-m-d H:i:s" }})</small>
                </div>
                <div class="card-body" onclick="eliminarComentario({{ comentario.id }})">
                    <p class="card-text">{{ comentario.comentario }}</p>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                No hay comentarios todavía.
            </div>
        {% endfor %}
    </div>
</div>
        



