.Coments {
    color: #f8f9fa;

}


.card {
    margin: 20px 0;
    background-color: #1c1c1c;
    /* Negro más claro para tarjetas */
    color: #f8f9fa;
    border: none;
    box-shadow: 0 0 15px rgba(255, 20, 147, 0.3);
    /* Sombra rosada */
}

.card-title {
    color: #ff1493;
    /* Color rosado para los títulos de las tarjetas */
}

.btn-custom {
    width: 100%;
    margin-top: 10px;
    background-color: #ff1493;
    /* Color rosado para los botones */
    border: none;
}

.btn-custom:hover {
    background-color: #ff66b2;
    /* Color rosado más claro al pasar el ratón */
}